node_modules
access.log
.env
.env.production.local
.DS_Store
.env

server/src/sql_build_scripts/root_user.sql
docker-compose.yml

docker-compose.production.yml
line_count.py
todos.todo
server/src/swaggerDefinition.ts
server/src/sslcert/*
templates
./logs

build
.vscode
server/logs/*
logs/*
client/build
client/logs/*
client/node_modules/*
client/.env
client/.env.production.local
client/.DS_Store

server/build
server/logs
client/yarn-error.log
todos.todo
